.project {
  background: white;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  .project-image {
    max-width: 100%;

    width: 100%;
    object-fit: contain;
  }
  .project-title {
    font-family: 'Gotham Narrow Black', sans-serif;
    font-size: 2rem;
    letter-spacing: -1.5px;
    color: var(--primary-color);
    margin: 0;
  }
  .project-link {
    text-decoration: none;
    color: white;
    background: var(--primary-color);
    padding: 5px 10px;
    font-family: 'Gotham Narrow Bold';
    margin-bottom: 10px;
  }
  .project-year {
    color: gray;
    color: 'Gotham Narrow Book';
  }
  .project-description {
    color: var(--primary-color);
    margin-bottom: 2rem;
  }
}
